@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 
*{
 font-family: "Outfit", sans-serif;
 user-select: none;
}
.dark-theme {
  background-color: #272424;
  color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;    
  scrollbar-width: none;  
}



/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 3px;             
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #22c55e, #3b82f6);
  border-radius: 999px;    
  border: 1px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #16a34a, #2563eb);
}





